.login-container {
    width: 80%;
    min-width: 400px; 
    margin: 20px auto;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-container h2 {
    text-align: center;
  }
  
  .login-container form div {
    margin-bottom: 15px;
  }
  
  .login-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  /* Estilo para los inputs del formulario */
  .login-container input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  /* Efecto al enfocar el input */
  .login-container input:focus {
    border-color: #4caf50;
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
  }
  
  .login-container button {
    width: 100%;
    padding: 10px;
    background-color: #0479fc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-container button:hover {
    background-color: hsl(234, 92%, 23%);
  }

  .input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 10px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .input:focus {
    border-color: #4caf50;
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
  }
  
  .login-container.light {
    background: #fff !important;
    color: #222;
}
